.order {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-01dp);
  border-radius: 10px;
  padding: 1rem;
  gap: 1rem;
}

.articles {
  display: flex;
  gap: 1rem;
}

.article {
  border-radius: 10px;
  gap: 1rem;
}

.article .image img {
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  scale: 1.05;
}

.article .image:hover img {
  rotate: -10deg;
  scale: 1.25;
}

.article .image {
  max-height: 150px;
  max-width: 150px;
  border-radius: 5px;
  overflow: hidden;
}
